@import './main.css';

/* ----- Header start ----- */

header {
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    gap: 7px;

    margin: 10px;
}

header nav a {
    font-weight: normal;
}

header nav .active {
    font-weight: bolder;
    color: var(--tan);
}

header img {
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}

/* ----- Footer start ----- */

footer {
    padding: 10px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

footer b, footer p {
    padding-left: 5px;
    padding-top: 5px;
}