@import './main.css';

.hero{
    background-color: var(--dark-bg) !important;
}
.services {
    padding: 0 20px 2rem;
}

.card-grid {
    padding: 0 10px;
}
.hero .hero-text {
    max-width: 50%;
}

.hero .hero-image img {
    transform: scale(1.5);
    border-radius: 8px;
    margin-right: 150px;
}

.card .container {
    background-color: var(--accent-green);
    margin-top: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    max-height: 140px;
    width: calc(100% + 40px); 
    margin-left: -20px;
    margin-bottom: -20px; 
    padding: 15px 0; 
}

.card .container .icon {
    max-height: 70px;
    width: auto;
    margin: 0 10px;
}

.services .card img[src*="CellPhone.png"] {
    width: 50%;
}

.services .card img[src*="Laptop.png"] {
    width: 84%;
    margin-right: -20px;
}

.services .card img[src*="Xbox.png"] {
    width: 51%;
    transform: rotate(-90deg);
    margin-bottom: 10px;
}