<body>
    <link rel="stylesheet" href="../Css/header.css">

    <header>
        <a href="../index.html"><img src="../Resources/Images/HeaderLogo.png" alt="FixIt logo"></a>

        <nav>
            
            <a href="../Pages/palvelut.html">Palvelut</a><br>
            <a href="../Pages/ukk.html">UKK</a><br>
            <a href="../Pages/yhteystiedot.html">Yhteystiedot</a><br>
            <a href="../Pages/lomake.html">Lomake</a><br>
            <a href="../Pages/yhteystiedot.html">Tyyliohje</a><br>

            <button>Varaa huolto</button>

        </nav>

    </header>

    <hr>

</body>

