<header>  

    
    <a href="index.html" class="logo">
        <img src="Resources/Images/HeaderLogo.png" alt="FixIt logo">
    </a>

    <nav>
        <a href="index.html">Etusivu</a>
        <a href="Pages/palvelut.html">Palvelut</a>
        <a href="Pages/ukk.html">UKK</a>
        <a href="Pages/yhteystiedot.html">Yhteystiedot</a>
        <a href="Pages/lomake.html">Varaa huolto</a>
        <a href="Pages/styleguide.html">Tyyliohje</a>

        <button onclick="window.location='Pages/lomake.html'">Varaa huolto</button>
    </nav>
</header>
<hr>